# Cruft
*~
*#
.#*
.DS_Store

# Test
coverage
.eslintcache

# Logs
*.log

# npm & yarn
node_modules/
.npm
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json
/build/bundle.js
/build/index.html
/build*
/build/*
# Editor/IDE
.idea
packages/api/etc/
